---
layout: default
---

{%-include breadcrumb.html-%}

<h1>{{ page.title }}</h1>

{{ content }}

{%-assign collection = site[page.collection]-%}
<section>
    {%-for item in collection-%}
        <section>
            <article><a href="{{ item.url }}"><h3>{{ item.title }}</h3></a>
                <p class="description">{{ item.description | markdownify }}</p>
                {%-assign schedule = item.schedule-%}
                {%-include schedule.html-%}
                {%-assign styles = item.styles-%}
                {%-include styles.html-%}
                <br /><a href="{{ item.url }}" title="More information about {{ item.title }}">More info</a>
            </article>
        </section>
    {%-endfor-%}
</section>