---
layout: default
---

{%-include back_link.html-%}

<h1>{{ page.title }}</h1>

{{ content }}

<ul>
{%-for studio in site.studios-%}
    <article><a href="{{ studio.url }}"><h2>{{ studio.title }}</h2></a>
        <p class="description">{{ studio.content | markdownify }}</p>
        {%-assign styles = studio.styles-%}
        {%-include styles.html-%}
        {%-assign tags = studio.tags-%}
        {%-include tags.html-%}
        <br /><a href="{{ studio.url }}" title="More information about {{ studio.title }}">More info</a>
    </article>
{%-endfor-%}
</ul>